html,
body {
  font-size: 1rem;
  margin: 0;
  font-family: "roboto", sans-serif;
  height: 100%;
  color: #000000;
  background-color: #37c0ff;
}

body,
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  width: 50%;
  text-align: center;
  padding: 2rem;
}

h1 {
  width: 100%;
  font-size: 3rem;
  font-weight: 500;
}

p {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 400;
}

.buttonGroup {
  display: flex;
}

button {
  margin: 10px;
  padding: 10px 30px 10px 30px;
  border-radius: 20px;
  border-style: none;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.5s ease-in-out;
  font-size: 1.25rem;
  font-weight: 400;
  font-family: "roboto", sans-serif;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
